h1,
h2 {
  color: white;
}

.AdminDash {
  background-color: #006c72;
  margin-bottom: 10px;
}

.AdminDash h1 {
  padding-top: 0.5%;
  padding-left: 1%;
  padding-bottom: 1%;
  font-family: Roboto;
  font-size: 30px;
}

.container {
  display: flex;
  flex-flow: row nowrap;
  background-color: #263e47;
  padding-top: 0.5%;
  padding-bottom: 0.05%;
  margin-top: 5px;
  font-size: 22px;
  padding-left: 1%;
  width: 50%;
}

.courses {
  margin-right: 10px;
}

.applications {
  margin-left: 10px;
}

.AdminDashHeaders {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.AdminDashContent {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.container2 {
  padding-top: 0.5%;
  padding-bottom: 1%;
  margin-top: 5px;
  font-size: 22px;
  width: 50%;
}

span {
  font-weight: normal;
  color: black;
}

p {
  color: #096a70;
}

button {
  margin-left: 90%;
}

.applications a {
  margin-left: 60%;
}

.courses a {
  margin-left: 70%;
}
