h1,
h2 {
  color: white;
}

.AdminDash {
  background-color: #006c72;
  margin-bottom: 10px;
}

.AdminDash h1 {
  padding-top: 0.5%;
  padding-left: 1%;
  padding-bottom: 1%;
  font-family: Roboto;
  font-size: 30px;
}

.container {
  display: flex;
  flex-flow: row nowrap;
  background-color: #263e47;
  padding-top: 0.5%;
  padding-bottom: 0.05%;
  margin-top: 5px;
  font-size: 22px;
  padding-left: 1%;
  width: 50%;
}

.courses {
  margin-right: 10px;
}

.applications {
  margin-left: 10px;
}

.AdminDashHeaders {
  display: flex;
  flex-flow: row nowrap;
}

.AdminDashContent {
  display: flex;
  flex-flow: row nowrap;
}

.container2 {
  padding-top: 0.5%;
  padding-bottom: 1%;
  margin-top: 5px;
  font-size: 22px;
  width: 50%;
}

span {
  font-weight: normal;
  color: black;
}

p {
  color: #096a70;
}

.card-button {
  position: absolute;
  right: 1%;
  bottom: 4%;
}

.applications a {
  position: absolute;
  left: 95%;
  font-size: 20px;
}

.courses a {
  position: absolute;
  left: 50%;
  font-size: 20px;
}

.course-modal-item {
  border: 2px solid red;
  display: flex;
  justify-content: space-between;
}
