.student-dashboard {
    background-color: lavender;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.studentdb-left-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    //width: 50%;
    padding: 10%;
}

.studentdb-right-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10%;
    
}

.current-student-db{
    background-color: teal;
    padding: 10%;
    margin: 5%;
    border-radius: 10%;
}

.current-student-db img{
    margin: 5%;
    border-radius: 100%;
}

.current-teacher-db {
    background-color: purple;
    padding: 10%;
    margin: 5%;
    border-radius: 10%;
}

.current-teacher-db img{
    margin: 5%;
    border-radius: 100%;
}

.student-photo-tasks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.Photo-Video-File {
    display: flex;
    background-color: lightcyan;
    padding: 10%;
    margin: 5%;
}

.Photo-Video-File div{
    margin: 0% 2%;
}

.Photo-Video-File div img{
    border-radius: 100%;
}

.Photo-Video-File div h5{
    text-align: center;
}

.tasks-completed {
    background-color: lightcyan;
    padding: 10%;
    margin: 5%;
    display: flex;
}

.tasks-completed h3 {
    margin: 0% 5%;
}

.student-stories {
    border: black 1px solid;
    width: 100%;
    padding: 10%;
    margin: 5% 0%;
    background-color: white;
}

.student-story-card {
    padding: 10%;
    margin: 10%;
    background-color: white;
    border: black 1px solid;
}

.student-story-card img {
    border-radius: 100%;
}