
.ant-layout-content {
    display: block !important;
}

.student-dashboard {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.studentdb-left-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0% 2%;
    margin: 0% 5%;
    width: 25%;
}

.studentdb-right-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;    
}

.current-student-db{
    background-color: teal;
    padding: 5% 0%;
    margin: 5%;
    border-radius: 10px;
}

.current-student-db img{
    margin: 5% 0%;
    width: 50%;
    height: 50%;
    border-radius: 100%;
}

.current-student-db h1{
    color: white;
    text-transform: uppercase;
    font-family: 'Monserrat';
}

.current-teacher-db {
    background-color: purple;
    padding: 5% 0%;
    margin: 5%;
    border-radius: 25px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.current-teacher-db img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

.current-teacher-db h2 {
    color: white;
    text-transform: uppercase;
    font-family: 'Monserrat';
}

.student-photo-tasks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.Photo-Video-File {
    display: flex;
    justify-content: space-evenly;
    background-color: lightcyan;
    padding: 1% 25%;
    margin: 5%;
    border-radius: 25px;
}

.Photo-Video-File div{
    margin: 0% 20%;
    text-align: center;
}

.Photo-Video-File div img{
    border-radius: 100%;
}

.Photo-Video-File div h5{
    text-align: center;
}

.tasks-completed {
    background-color: lightcyan;
    padding: 2% 20%;
    margin: 5% 0%;
    display: flex;
    border-radius: 25px;
}

.tasks-div {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.tasks-numbers {
    font-size: 20px;
    font-weight: bold;
}

.rotate-line {
    transform: rotate(90deg);
}

.pipe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.student-stories {
    padding: 2%;
}

.student-stories div h1 {
    color: black;
    text-transform: uppercase;
}

/* Student Story Card CSS*/

.student-story-card {
    padding: 10%;
    margin: 2%;
    background-color: white;
    border: black 1px solid;
    border-radius: 25px;
}

.student-story-card h2 {
    font-size: 1.8rem;
}

.student-story-card h4 {
    font-size: 1.2rem;
}

.student-story-card img {
    border-radius: 100%;
}

.top-story-card {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.top-left {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 250px;
}

.top-left img {
    height: 50px;
}

.top-left h3 {
    text-transform: capitalize;
}

.top-left h4 {
    text-transform: capitalize;
}

.top-right {
    display: flex;
    justify-content: flex-end;
}

.top-right h4 {
    color: grey;
    text-transform: uppercase;
}

.teacher-message {
    padding: 5% 10% 2%;
}

.story-photo {
    background-image: url('https://cdn.pixabay.com/photo/2016/08/03/09/03/universe-1566159_1280.jpg');
    height: 100px;
    width: 100%;
}

/* Story Card Comment */

.student-comment {
    display: flex;
    justify-content: space-between;
    padding-top: 5%;
}

.student-comment-info {
    display: flex;
    flex-direction: row;
    width: 350px;
}

.student-comment-info img {
    height: 50px;
}

.student-comment-info div {
    padding: 0% 5%;
}

.student-comment-info div p {
    font-size: 12px;
}

.comment-minute h4 {
    color: grey;
}

.student-send-comment {
    padding-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.student-send-comment form input{
    width: 400px;
    border-radius: 5px;
    height: 45px;
}

.comment-form {
    display: flex;
    justify-content: space-between;
}
