.student-dashboard {
    background-color: lavender;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.studentdb-left-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0% 10%;
}

.studentdb-right-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0% 10%;
    
}

.current-student-db{
    background-color: teal;
    padding: 5% 0%;
    margin: 5%;
    border-radius: 10px;
    height: 85vh;
}

.current-student-db img{
    margin: 5% 0%;
    width: 50%;
    height: 50%;
    border-radius: 100%;
}

.current-student-db h1{
    color: white;
    text-transform: uppercase;
    font-family: 'Monserrat';
}

.current-teacher-db {
    background-color: purple;
    padding: 7% 0%;
    margin: 5%;
    border-radius: 25px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.current-teacher-db img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

.current-teacher-db h2 {
    color: white;
    text-transform: uppercase;
    font-family: 'Monserrat';
}

.student-photo-tasks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.Photo-Video-File {
    display: flex;
    background-color: lightcyan;
    padding: 10%;
    margin: 5%;
    border-radius: 25px;
}

.Photo-Video-File div{
    margin: 0% 2%;
}

.Photo-Video-File div img{
    border-radius: 100%;
}

.Photo-Video-File div h5{
    text-align: center;
}

.tasks-completed {
    background-color: lightcyan;
    padding: 10%;
    margin: 5%;
    display: flex;
    border-radius: 25px;
}

.tasks-completed h3 {
    margin: 0% 5%;
}

.student-stories {
    width: 100%;
    padding: 10%;
    margin: 5% 0%;
    background-color: white;
}

.student-story-card {
    padding: 10%;
    margin: 10%;
    background-color: white;
    border: black 1px solid;
    border-radius: 25px;
}

.student-story-card img {
    border-radius: 100%;
}