// @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
// Export other less files here
@h1: 5rem;
@h2: 3rem;
@h3: 2.5rem;

.admin-course-feed-container {
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  width: 96%;
  background-color: @body__bg--peach;
  margin-left: 2%;
  margin-bottom: 2%;
}

.submitted-course-container {
  border: 1px solid black;
  border-radius: 10px;
  margin: 1rem;
  padding: 1rem;
  width: 18%;
  background-color: @body__bg--blue;
  h1,
  h2,
  h3 {
    color: @text__color--white;
  }
}

.cards {
  margin: 10%;
  display: flex;
  flex-direction: row;
  flex-flow: nowrap;
  justify-content: space-around;
  align-items: center;
}

.pending-applications {
  margin-right: 5%;
  border: 5px solid black;
  border-radius: 4%;
}

.approved-applications {
  margin-left: 5%;
  border: 5px solid black;
  border-radius: 4%;
}

.icon {
  font-size: 10rem;
  padding: 5%;
  color: #006c72;
}

.description {
  justify-content: center;
  padding: 5%;
}

.pendingBtn {
  margin: 5% 33%;
  padding: 0% 5.7%;
}

.approvedBtn {
  margin: 5% 33%;
}
// styles for admin-purchases
div.header-container{
padding-left: 1%;
padding-bottom:1%;
}

div.table-container{
  padding:3%;
}
// styles for admin-purchases-table
// makes the rows alternating colors
tr:nth-child(odd){
  background-color:#FDF2DD;
}
tr:nth-child(even){
  background-color:#fcdfaa;
}
tr:nth-child(odd) > td.ant-table-cell {
  background-color:#FDF2DD;
}
tr:nth-child(even) > td.ant-table-cell {
  background-color:#fcdfaa;
}
tr:first-child {
  background-color:#263E47;
}
// adjusting styling on the column headers
thead.ant-table-thead > tr > th.ant-table-cell, th.ant-table-column-sort {
  background-color:#263E47;
}
thead.ant-table-thead > tr > th {
  background-color:#263E47;
}
.ant-table-column-title{
  font-size:medium;
}
.ant-table-thead {
  background-color:#263E47;
}
// makes the links black instead of blue
.ant-table-cell a{
  color:black;
}
// makes the sorters black & the filter black
.ant-table-column-sorter-inner{
  color:white;
}
.ant-table-column-sorters{
  color:white;
}
.anticon, .anticon-filter{
  color:white;
}
.anticon-download{
  color:black;
  font-size:large;
}
.right{
  text-align:right;
  padding-right:2%;
  padding-bottom:1%;
  font-size:large;
}

//media queries for submit new program

@media screen and (max-width: 1200px) {
  .add-courses-form-container {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 15rem;
    h1 {
      padding: 0.5rem;
    }
  }
}

@media screen and (max-width: 768px) {
  .add-courses-form-container {
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
    margin-bottom: 15rem;
    h1 {
      padding: 0.5rem;
    }
  }
}

@media screen and (max-width: 576px) {
  .add-courses-form-container {
    width: 100%;
    margin: 0 auto;
    max-width: 300px;
    padding: 1rem;
    margin-bottom: 15rem;
    h1 {
      padding: 0.5rem;
    }
  }
}
