.stats-wrapper {
	display: flex;
	flex-wrap: wrap;
	#ant-card-stat {
		background-color: @body__bg--white;
		padding: 8px;
		display: flex;
		.stat-icon-wrapper {
			display: flex;
			padding: 8px;
			width: 56px;
			height: 56px;
			margin-right: 8px;
			background-color: @stat-icon-wrapper__bg--varden;
		}
		.stat-content {
			color: @text__color--maroon;
			text-align: center;
			h5 {
				color: @text__color--maroon;
			}
		}
	}
}