.ant-btn{
    background-color: #FCDFAA !important;
    position: relative !important;
    float: right;
    width: fit-content;
    padding: 0 5% !important;
    color: #F27712 !important;
    font-weight: bold !important;
}

.ant-picker-calendar-header{
    justify-content: flex-start !important;
    margin: 0 2% !important;
    div{
        background-color: #F1C461 !important;
    }
}

.ant-radio-button-wrapper{
    background-color: #FCDFAA !important;
}
.ant-radio-button-wrapper-checked{
    background-color: #F1C461 !important;
}

thead{
    background-color: #FCDFAA;
}

th{
    padding: 2rem !important;
}

th:nth-of-type(1){
    border-top-left-radius: 3rem !important;
}

th:nth-of-type(7){
    border-top-right-radius: 3rem !important;
}

ul {
    background-color: transparent !important;
}

.ant-badge-not-a-wrapper{
    background-color: rgba(0,202,183,.25) !important;
    text-align: center;
    padding: 2% !important;
    width: 100%;
    margin-bottom: 2% !important;
}

.ant-badge-status-dot.ant-badge-status-success{
    display: none;
}
