.footer__nav-link {
  &:hover {
    color: @text__color--white;
    cursor: pointer;
    text-decoration: underline;
  }
  margin: 0;
  padding: 0;
}

.about_column {
  text-align: center;
}
.services_column {
  text-align: center;
}
.contact_column {
  text-align: center;
}

ul {
  list-style-type: none !important;
}

.footer__text {
  color: @text__color--white;
  font-size: @text__font-size--h5;
  font-weight: 600;
  font-family: @text__font-family;
}
.footer__title--copyright {
  font-family: @text__font-family;
}
.footer-content {
  width: 100%;
  margin: auto;
}
.mobile-footer {
  display: none;
}
@media screen and (max-width: 973px) {
  .footer__text {
    padding: 3% 0;
  }
}

.navbar__btn {
  color: #edeed7;
  font-weight: 600;
  min-height: 38px;
  border-radius: 7%;
  border: none;
  font-size: 0.95rem;
  cursor: pointer;
  transition: 0.1s all ease-in;
  margin: 0 0.2rem;
  width: auto;
}

@media screen and (max-width: 900px) {
  .desktop-footer {
    display: none;
  }
  .mobile-footer {
    display: block;
  }
  .about_column {
    width: 33%;
  }
  .services_column {
    width: 33%;
  }
  .contact_column {
    width: 33%;
  }
}
