.footer__nav-link {
  &:hover {
    color: @text__color--white;
    cursor: pointer;
    text-decoration: underline;
  }
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none !important;
}

.footer__text {
  color: @text__color--white;
  font-size: @text__font-size--h5;
  font-weight: 600;
  font-family: @text__font-family;
}
.footer__title--copyright {
  font-family: @text__font-family;
}
.footer-content {
  max-width: 500px;
  margin: auto;
}
.mobile-footer {
  display: none;
}

@media screen and (max-width: 900px) {
  .desktop-footer {
    display: none;
  }
  .mobile-footer {
    display: block;
  }
}
