//****Parent and Instructor Sidebar Styles****
.ant-menu-item {
  ant-icon {
    color: orange;
  }
}
.dashboard-logo {
  color: orange;
}
.ant-menu-item-selected {
  color: #fff;
  background-color: rgba(0, 201, 183, 0.8);

  background-color: rgba(0, 201, 183, 0.8);

  color: #fff !important;
  background-color: rgba(0, 201, 183, 0.8) !important;
}

// Parent and Instructor Sidebar Styles

.ant-menu-item-active {
  background-color: #00cab7;
  color: grey !important;
  border-radius: 10px;
}
.ant-menu-item-active-selected::after {
  color: red;
  color: grey;
}
.ant-menu-item-selected::after {
  color: rgba(116, 0, 73, 0.8);
}
.dashboard-icon {
  color: grey;
}
.link {
  color: grey;
}
.title {
  font-family: @text__font-family--header;
  font-weight: 400;
  letter-spacing: 1px;
}
.social-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}
