// Insert global styles here

//****Parent and Instructor Sidebar Styles****
.ant-menu-item{
    ant-icon{
    color: orange;
    }
}
.dashboard-logo{
    color: orange;
}
.ant-menu-item-selected {
    color: #fff;
    background-color: rgba(0, 201, 183, 0.8);
    
  }
.ant-menu-item-active{
    color: grey;
}
.ant-menu-item-selected::after{
    color:rgba(116, 0, 73, 0.8);
}
.dashboard-icon {
  color: grey;
  
}
.link{
  color:grey;
}

