html {
  display: flex;
  flex-direction: column;
}

//****Parent and Instructor Sidebar Styles****
.ant-menu-item {
  ant-icon {
    color: @ant-menu__text__color--orange;
  }
}
.dashboard-logo {
  color: @ant-menu__text__color--orange;
}
.ant-menu-item-selected{
  color: @text__color--white !important;
  background-color: @ant-menu__bg--supernova !important;
}

.ant-menu-item-selected span a, .ant-menu-item-active span a:hover {
  color: @text__color--white !important;
}

// Parent and Instructor Sidebar Styles

.ant-menu-item-active {
  background-color: @ant-menu__bg--supernova;
  color: @text__color--white !important;
  border-radius: 0px;
}

.ant-menu-item a, .ant-menu-item::before {
  color: @ant-menu__text__color--zambezi !important;
}

.ant-menu-vertical .ant-menu-item::after, .ant-menu-vertical-left .ant-menu-item::after, .ant-menu-vertical-right .ant-menu-item::after, .ant-menu-inline .ant-menu-item::after {
  border-right: 0px solid rgb(34, 34, 34) !important;
}

.ant-menu-item-active-selected::after {
  color: @ant-menu__text__color--red;
  color: @ant-menu__text__color--grey;
}
.ant-menu-item-selected::after {
  color: @ant-menu__text__color--tyrian-purple;
}
.dashboard-icon {
  color: @ant-menu__text__color--grey;
}
.link {
  color: @ant-menu__text__color--grey;
}
.title {
  font-family: @text__font-family--header;
  font-weight: 400;
  letter-spacing: 1px;
}
.social-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}
