header {
  padding: 20px 50px 10px;
  display: flex;
  justify-content: space-between;
  background-color: #21c5b5;
  box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 0.75);
  align-items: center;
  position: sticky;
  top: 0%;
  z-index: 5;
  width: 100%;
  margin-top: 0;
}
.option-list {
  display: flex;
  justify-content: center;
}
.option-list {
  justify-content: space-around;
}
.option-list .option h3 {
  font-weight: bold;
  font-size: 1.2rem;
}
.option-list h3 {
  border-bottom: solid 10px transparent;
}
.option:hover h3 {
  border-bottom: 10px solid white;
  color: white;
}
.option-list .option {
  padding: 5px 5px 5px 5px;
}
.social-media-list {
  display: flex;
}
.title-logo h1 {
  display: flex;
  font-weight: bold;
  font-size: 1.5rem;
}
.profile-pic img {
  align-items: center;
  border-radius: 999px;
  width: 3em;
  height: 3em;
}
.contact {
  margin: auto;
  color: teal;
  font-weight: bold;
  background-color: white;
  display: block;
  width: 7rem;
  height: 2.4rem;
  border: transparent;
  border-radius: 4px;
}
.right-three {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.social-media h4 {
  font-weight: bold;
  font-size: 1.3em;
  padding-left: 5px;
  padding-right: 10px;
}
.profile-pic {
  padding-left: 10px;
}
