// LOGIN CONTAINER
.login-container {
  display:flex;
  justify-content: center;
}

.login-container p {
  font-size: 2.4rem;
  line-height: @text__line-height--h1;
  margin: 0;
}

.left-login {
  background-color: #006C72;
  margin-top: 6rem;
  height: 700px;
  width: 45rem;
  border-top-left-radius: @btn__border-radius;
  border-bottom-left-radius: @btn__border-radius;
  padding: 5rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.left-login-text {
  margin-top: 10rem;
}

.registration-label span, .registration-link a {
  color: grey;
}

// OKTA FORM STYLES
.input-focus() {
  border: none;
  box-shadow: none;
}

#sign-in-widget {
  display: flex;
  background-color: @body__bg;
  margin-top: 6rem;
  margin-bottom: 6rem;
  height: 700px;
  border-radius: @btn__border-radius;
  #okta-sign-in.auth-container.no-beacon {
    border-radius: 0;
    border-top-right-radius: @btn__border-radius;
    border-bottom-right-radius: @btn__border-radius;
    display: flex;
    font-family: @text__font-family;
    margin: auto;
    min-height: 700px;
    border: none;
    background-color: white;
    .okta-form-input-field{
      border:none;
    }
    h2 {
      margin-top: 8rem;
      text-align: center;
      font-family: @text__font-family;
      color: #006C72;
      font-size: @text__font-size--h2;
      letter-spacing: 1px;
      font-weight:700;
    }
    .o-form-error-container.o-form-has-errors {
      font-size: @text__font-size--body;
      font-weight: 600;
    }
    a.link {
      &:link {
        font-size: @text__font-size--body;
        color: #006C72;
        &:focus {
          box-shadow: none;
        }
      }
      &:visited {
        color: grey;
      }
    }
    .okta-form-input-error {
      color:#006C72;
      font-weight: bold;
      .error-16-small:before {
        color: @error-color;
      }
    }
  }
  .okta-sign-in-header.auth-header {
    display: none;
  }
  .o-form {
    .button-bar {
      &:focus {
        border: none;
      }
    }

    .o-form-button-bar {
      padding: 0 0 5px;
    }

    .o-form-label,
    input,
    label,
    textarea {
      font-size: @text__font-size--h5;
      color: #006C72;
    }

    .o-form-label label {
      color:grey;
      font-size: .8rem;
    }

    #okta-signin-username, #okta-signin-password {
      background-color: #F4F8F5;
      border: none;
    }
  }
  .auth-content {
    flex: auto;
    align-self: center;
    justify-self: center;
    padding-top: 60px;
    .o-form-button-bar,
    .okta-form-input-field,
    .custom-checkbox {
      &.focused-input {
        box-shadow: none;
        border:none;
      }
    }

    .custom-checkbox {
      label {
        font-size: .75rem;
        color: grey;
      }
    }
    form {
      input {
        &:focus {
          .input-focus();
        }
      }
    }
    .button {
      background: #006C72;
      color: white;
      border: none;
      border-radius: @btn__border-radius;
      font-weight: 600;
      transition: box-shadow 0.2s ease-in-out;
      transition: border 0.1s ease-in-out;
      transition: background 0.2s ease-in-out;
      &:hover {
        background: darken(@btn__bg--blue, 35%);
        color: @text__color--white;
      }
      &:focus {
        background: darken(@btn__bg--blue, 35%);
        color: #006C72;
        .input-focus();
      }
    }
    .registration-container {
      .content-container {
        font-size: @text__font-size--body;
        padding:5rem 0 0 0;
        text-align: center;
        border: none;
        .registration-label {
          color: #006C72;
        }
        .registration-link {
          margin-left: 2px;
          color: #006C72;
          font-weight: bold;
        }
      }
    }
  }

  .auth-footer{
    text-align: center;
  }
}

@media (max-width: 600px) {
  #sign-in-widget {
    margin-top: 0px;
    margin-bottom: 0px;
    #okta-sign-in.auth-container.no-beacon {
      display: flex;
      width: 100%;
      margin: 0px;
      flex: auto;
      border-radius: 0px;
      .auth-content {
        padding-left: 20px;
        padding-right: 20px;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .left-login {
    width: 40rem
  }

  #sign-in-widget #okta-sign-in.auth-container.no-beacon {
      height: 700px;
      width: 20rem;

      h2 {
        font-size: 1.6rem;
      }

      .registration-container .content-container {
        font-size: .75rem;
      }
  }

}

@media screen and (max-width: 992px) {
  .left-login {
    width: 26rem
  }

  .login-container p {
    font-size: 2.1rem;
    line-height: @text__line-height--h1;
    margin: 0;

  }
  .left-login-text {
    margin-top: 3rem;
  }
}

@media screen and (max-width: 768px) {
  .left-login {
    display: none;
  }
  .login-container {
    background-color: white;
    width: 100%;
    padding: 0;
    margin: 0;
  }

  #sign-in-widget #okta-sign-in.auth-container.no-beacon {
      width: 100%;
      border-radius: 0;
      box-sizing: none;

      .auth-content {
        height: 80vh;
      }

      h2{
        margin-top: 2rem;
      }

      .main-container {
        box-shadow: none;
      }

      .registration-container .content-container {
        font-size: 1rem;
      }
  }
}
