// Registration Flow Formatting

.reg-content-container {
    text-align: center;
    background-color: white;
    width: 85rem;
    height: 40rem;
    padding: 6rem 10rem;
    margin: 4rem;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.reg-content-container p {
    font-size: 2.4rem;
}

.content {
    padding: 0 6rem;
}

.color-one {
    color: #006C72;
}

.color-two {
    color: #FFAD00;
}

.color-three {
    color: #FF5C00;
}

.color-four {
    color: #EC2C4E;
}

.color-five {
    color: #740049;
}

.link-container {
    margin-top: 4rem;
}

.content a {
    padding: .7rem 2rem;
    background-color: #006C72;
    color:white;
    text-transform: uppercase;
    border-radius: 3px;
}

.student-num {
    width: 3rem;
    height: 3rem;
    color: #006C72;
    border: 1px solid #006C72;
    text-align: center;
    font-weight: 700;
    font-size: xx-large;
}

@media screen and (max-width: 1200px) {
    .reg-content-container {
        padding: 6rem 4rem 4rem 4rem;
    }
    .reg-content-container p {
        font-size: 2rem;
    }

    .content{
            padding: 0;
    }
}

@media screen and (max-width: 768px) {
    .content{
        padding: 0;
    }

    .reg-content-container p {
        font-size: 1.6rem;
    }

    .content {
        margin-top: 2rem;
    }
}

@media screen and (max-width: 576px) {
    .reg-content-container {
        width: 100%;
        margin: 0;
    }
}

@media screen and (max-width: 576px) {
    .reg-content-container p {
        font-size: 1.2rem;
    }

    .reg-content-container {
        padding: 5rem 1.5rem;
    }
}
