#okta-sign-in.auth-container {
  &.main-container {
    background-color: #096a70;
    min-width: 30rem;
    padding: 0 1rem;
    border-radius: 0.5rem;
  }

  .okta-form-title {
    color: white;
    font-size: 25px;
    font-weight: bold;
    text-align: left;
  }

  .okta-form-infobox-error {
    color: @text-color;
  }

  .okta-form-input-error {
    color: #fff;
    font-weight: bold;

    .error-16-small:before {
      color: @error-color;
    }
  }

  input[type='submit'] {
    color: #fff;

    &:hover {
      text-shadow: none;
    }
  }

  .button-primary {
    background: #199c8f;
    border: none;
    border-radius: 8px;
    transition: 0.2s;

    &:hover {
      background: #263d47;
    }

    &:focus {
      background: #263d47;
      border-radius: 8px;
    }
  }

  .okta-sign-in-header {
    visibility: hidden;
  }

  .auth-footer {
    padding-bottom: 4rem;
  }

  a.link:link {
    color: white;
  }
}

#okta-sign-in {
  .o-form {
    .button-bar:focus {
      border: none;
    }
    .o-form-label,
    input,
    label,
    textarea {
      font-size: 18px;
      color: #fff;
    }
  }
}
