.input-focus() {
  border: @input-focused-border;
  box-shadow: @input-focused-box-shadow;
}

#okta-sign-in.auth-container {
  &.main-container {
    background-color: #096a70;
    min-width: 30rem;
    padding: 0 1rem;
    border-radius: 0.5rem;

    .o-form-button-bar,
    .okta-form-input-field,
    .custom-checkbox {
      &.focused-input {
        box-shadow: none;
      }
    }

    .okta-form-input-field {
      border: 1px solid @border-color-base;
      transition: box-shadow 0.1s ease-in-out;
      &.focused-input {
        .input-focus();
      }
      &:hover {
        border: 2px solid #21c5b5;
      }
    }
  }

  .okta-form-title {
    color: white;
    font-size: 25px;
    font-weight: bold;
    text-align: left;
  }

  .okta-form-infobox-error {
    color: @text-color;
  }

  .okta-form-input-error {
    color: #fff;
    font-weight: bold;

    .error-16-small:before {
      color: @error-color;
    }
  }

  input[type='submit'],
  input[type='button'] {
    color: #fff;

    &:hover {
      text-shadow: none;
    }
  }

  .button-primary {
    background: #199c8f;
    border: none;
    border-radius: 8px;
    transition: background 0.2s ease-in-out;
    transition: box-shadow 0.2s ease-in-out;
    transition: border 0.1s ease-in-out;

    &:hover {
      background: #263d47;
    }

    &:focus {
      background: #263d47;
      .input-focus();
    }
  }

  .okta-sign-in-header {
    visibility: hidden;
  }

  .auth-footer {
    padding-bottom: 4rem;
  }

  a.link:link {
    color: white;
  }
}

#okta-sign-in {
  .o-form {
    .button-bar {
      &:focus {
        border: none;
      }
    }

    .o-form-label,
    input,
    label,
    textarea {
      font-size: 18px;
      color: #fff;
    }
  }
}
