@bg1: #eeedd9;
@bg2: #1e6a70;
@bg3: #9fb222;
@btnBg1: #f2ce60;
@btnBg2: #f66721;

// @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Staatliches&display=swap');

.il__wrapper {
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box !important;
}
.il__heading {
  font-family: 'Staatliches', 'cursive';
}
.il__browseBtn {
  cursor: pointer;
  font-weight: bold;
  font-size: 0.9rem;
  color: black;
  background-color: @btnBg1;
  width: 200px;
  height: 56px;
  border: none;
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: 0.15s ease-in;
}
.il__browseBtn:hover {
  background-color: #fdc312;
}
.il__top {
  .il__top__topContent {
    background-color: @bg1;

    .il__top__topContent__container {
      display: flex;
      justify-content: center;
    }
    .il__top__topContent__main {
      display: flex;
      padding: 2.5rem;
      margin-left: 7.5rem;
      width: 80%;
      flex-direction: column;
      transition: all 0.3s ease;
    }

    .il__top__topContent__heading {
      color: #263e47;
      font-size: 3.4rem;
      font-weight: 500;
      letter-spacing: 2px;
      overflow: hidden;
      white-space: nowrap;
      transition: ease all 0.5s;
    }
    .il__top__topContent__text {
      font-size: 1.4rem;
      font-weight: 500;
      width: 500px;
      transition: all 0.3s ease;
    }
    .il__top__form {
      margin-top: 2.5rem !important;
    }
    .il__top__input {
      width: 40% !important;
    }
    .il__top__input > input::placeholder {
      color: #485b63 !important;
    }
    .il__top__formBtn {
      cursor: pointer;
      font-weight: 600;
      font-size: 0.9rem;
      color: black;
      background-color: @btnBg1;
      width: 120px;
      height: 42px;
      border: none;
      border-radius: 5px;
      margin-left: 5px;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      transition: 0.15s ease-in;
    }
    .il__top__formBtn:hover {
      background-color: #fdc312;
    }
    @media screen and (max-width: 1193px) {
      .il__top__topContent__main {
        align-items: center;
        margin-left: 0;
      }
      .il__top__form {
        text-align: center;
      }
      .il__top__formBtn {
        width: 100%;
        align-self: center;
        margin-top: 1rem;
      }
    }
    @media screen and (max-width: 600px) {
      .il__top__topContent__heading {
        font-size: 2.8rem;
      }
      .il__top__topContent__text {
        font-size: 1.1rem;
        font-weight: 500;
        width: 400px;
      }
      .il__top__input {
        width: 100% !important;
      }
    }
  }

  .il__top__bottomContent {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;

    .il__top__bottomContent__info {
      margin: 1rem 2.2rem;
      padding: 0 1.2rem;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .il__top__bottomContent__info__text {
      text-align: center;
      font-weight: bold;
      font-size: 1rem;
      width: 250px;
    }

    .il__top__bottomContent__info__iconCircle {
      cursor: pointer;
      border-radius: 50%;
      background-color: @bg2;
      height: 100px;
      width: 100px;
      margin-bottom: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.3s ease-in;
    }
    .il__top__bottomContent__info__iconCircle:hover {
      transform: scale(1.1);
    }
  }
}

.il__mid {
  display: flex;
  background-color: @bg2;
  padding: 2rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .il__mid__heading {
    color: white;
    font-size: 3.4rem;
    font-weight: 500;
    letter-spacing: 2px;
    overflow: hidden;
    white-space: nowrap;
    transition: ease all 0.5s;
  }
  .il__mid__info__text {
    text-align: center;
    font-weight: 500;
    color: white;
    font-size: 1.1rem;
    width: 250px;
  }
  @media screen and (max-width: 991px) {
    .il__mid__info__text {
      width: 350px;
    }
  }

  @media screen and (max-width: 560px) {
    .il__mid__heading {
      font-size: 2.9rem;
    }
  }

  .il__mid__info {
    margin: 1rem 2.2rem;
    padding: 0 1rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .il__mid__info__contentCircle {
    cursor: pointer;
    border-radius: 50%;
    background-color: #eeedd9;
    border: 2px solid white;
    height: 150px;
    width: 150px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 0.3s ease-in;
  }
  .il__mid__info__stepCircle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9fb222;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 0.8rem;
  }
  .il__mid__info__contentCircle:hover {
    transform: scale(1.1);
  }
}

.il__bottom {
  background-color: @bg3;
  .il__bottom__container {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s all ease-in;
  }

  .il__bottom__leftContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
  }
  .il__bottom__leftCircle {
    aspect-ratio: 1;
    max-width: 650px;
    max-height: 650px;
    margin: 2rem 0;
    border-radius: 50%;
    background-color: #f2c35f;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.14),
      0px 3px 1px -2px rgba(0, 0, 0, 0.12), 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
  }
  .il__bottom__leftContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .il__bottom__findInsBtn {
    cursor: pointer;
    font-weight: 500;
    font-size: 1rem;
    color: white;
    background-color: @btnBg2;
    width: 210px;
    height: 46px;
    border: none;
    border-radius: 5px;
    margin: 1rem 0;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: 0.15s ease-in;
    overflow: 'hidden';
    white-space: 'nowrap';
  }
  .il__bottom__findInsBtn:hover {
    background-color: #fd732e;
  }
  .il__grid__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
    // transform: scale(1.1);
  }

  .il__grid__toprow {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .il__grid__bottomrow {
    display: flex;
  }
  .il__grid__item {
    border: 5px solid black;
    margin: 0 1.2rem 1.2rem 0;
  }
  .il__grid__item > img {
    width: 100%;
    height: 100%;
    object-fit: fill;
  }
}
