// <---------- CoderCamp ---------->

.pl__na__second__container {
  background-color: @body__bg--green;
  display: flex;
  height: 100vh;
  width: 100%;

  .pl__na__second__left {
    flex: 1;
    display: flex;

    .pl__na__second__left__image__container {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;

      .pl__na__second__left__pink__border {
        width: 100%;
        margin-top: -5%;
      }
      .pl__na__second__left__kid__coder {
        position: absolute;
        width: 50%;
        top: 40%;
      }
    }
  }

  .pl__na__second__right {
    width: 35%;
    flex: 1;
    display: flex;
    align-items: center;

    .pl__na__second__right__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .pl__na__second__heading {
        font-size: 3.7rem;
        font-weight: 500;
        color: #263d47;
        letter-spacing: 0.05rem;
        text-shadow: 0px 7px 29px 0px rgba(100, 100, 111, 0.2);
        text-align: center;
      }

      .pl__na__second__text__container {
        font-size: 1.7rem;
        font-weight: 350;
        line-height: @text__line-height--h3;
        text-align: center;

        .pl__na__second__text {
          display: flex;
          justify-content: center;
        }
      }

      .pl__na__second__sub__heading {
        width: 100%;
        text-align: center;
        font-family: @text__font-family--header;
        font-size: @text__font-size--h1;
        font-weight: 400;
        color: #263d47;
      }

      .pl__na__second__skills_list__container {
        display: flex;
        margin-left: 5%;
      }

      .pl__na__second__skills_list {
        font-family: @text__font-family;
        font-size: @text__font-size--h4;
        font-weight: 400;
        line-height: 1;
      }

      .pl__na__top__button__container {
        display: flex;
        flex-direction: row;
        align-self: center;

        .pl__na__top__button {
          font-weight: 600;
          font-size: 1rem;
          color: @text__color--white;
          background-color: @btn__bg--red;
          width: 15rem;
          height: 3.5rem;
          border: none;
          border-radius: @btn__border-radius;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          transition: 0.15s ease-in;
          cursor: pointer;
        }

        .pl__na__top__button:hover {
          background-color: #df294a;
        }
      }
    }
  }
}

// Testimonial styling -- CoderCamp
.pl__na__testimonials__container {
  align-items: center;
  justify-content: space-evenly;
  min-height: 60vh;
  background-color: @body__bg--green;
  display: flex;
  margin-top: -5px;
}

// Testimonial Image
.pl__na__third__father__son {
  border-radius: 50%;
  width: 20rem;
  height: 20rem;
  align-items: center;
  border: 4px solid #000;
}

.pl__testimony__section__one {
  background-color: @body__bg--concrete;
  padding: 2rem;
  border-radius: 10px;
}

// Testimony Text Container
.pl__na__testimony__text__container {
  font-size: @text__font-size--h5;
  font-family: @text__font-family;
  font-weight: 350;
  font-style: italic;
  color: #000;
}

// Section 2
.pl__testimony__section__two {
  background-color: @body__bg--concrete;
  padding: 1rem;
  border-radius: 10px;
  margin-top: 1.5rem;
  width: 20rem;
}

// Testimony Name Container
.pl__na__testimony__name__container {
  font-size: @text__line-height--h5;
  font-weight: 700;
  color: #000000;
  font-family: @text__font-family--header;
}



//** Landing Page Styles - CELL **//
@media only screen and (max-width: 900px) {
  .pl__na__second__left {
    display: none !important;
  }
  .pl__na__second__sub__heading {
    margin-bottom: -7% !important;
  }
  .pl__na__top__button__container {
    margin-top: -5%;
  }
}

@media only screen and (max-width: 687px) {
  .pl__na__second__sub__heading {
    margin-bottom: 0% !important;
  }
}