// <---------- ExplorePrograms ---------->

.pl__na__container {
  width: 100%;
  font-family: @text__font-family;
  box-sizing: border-box;
  display: flex;
}

.pl__na__heading {
  font-family: @text__font-family--header;
}

.pl__na__top__wrapper {
  display: flex;
  background-color: @body__bg;

  .pl__na__top__left {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 2%;

    & > *:nth-child(2) {
      width: 75%;
      border-top: 5px solid #20c5b5;
    }

    .pl__na__top__heading {
      font-size: 4rem;
      font-weight: 500;
      color: @pl__na__text__color--Tarawera;
      letter-spacing: 0.2rem;
      text-shadow: 0px 7px 29px 0px rgba(107, 107, 218, 0.2);
    }

    .pl__na__top__sub__heading {
      font-size: @text__font-size--h2;
      font-weight: 700;
<<<<<<< HEAD
      color: @pl__na__text__color--Tarawera;
      padding: 2rem 0;
=======
      color: #263d47;
      padding: 2% 0;
      width: 75%;
>>>>>>> main
    }

    .pl__na__top__text {
      font-size: 1.25rem;
      line-height: @text__line-height--h3;
      font-weight: 400;
      text-align: center;
    }

    .pl__na__top__button__container {
      display: flex;
      flex-direction: row;
      margin-top: 3rem;

      & > *:first-child {
        margin-right: 5rem;
      }

      .pl__na__top__button {
        font-weight: 600;
        font-size: 0.9rem;
        color: @text__color--white;
        background-color: @btn__bg--maroon;
        width: 10rem;
        height: 3.5rem;
        border: none;
        border-radius: @btn__border-radius;
        margin-left: 5px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        transition: 0.15s ease-in;
        cursor: pointer;
      }

      .pl__na__top__button:hover {
        background-color: @pl__na__top_-btn_-bg--tyrian-purple;
      }
    }
  }

  .pl__na__top__right__image__container {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
    
    .pl__na__top__right__light__bulbs {
      width: 90%;
      margin-top: -5px;
    }
  }
}

//** Landing Page Styles - LAPTOP **//

@media only screen and (max-width: 1000px) {
  .pl__na__top__heading {
    margin-bottom: -15px !important;
  }
  .pl__na__top__text {
    font-size: 1rem !important;
  }
}

//** Landing Page Styles - CELL **//

@media only screen and (max-width: 900px) {
  .pl__na__top__right__image__container {
    display: none !important;
  }
  .pl__na__top__left {
    padding: 5% !important;
  }
}
