// <----- CoderYoga ----->

// CONTENT
.pl__section__wrap {
  min-height: 100vh;
  font-family: @text__font-family;

  // DIV FIRST CONTAINER
  .pl__na__first__container {
    background-color: @body__bg--blue;
    display: flex;
    justify-content: space-between;
  }

  // DIV LEFT CONTAINER
  .pl__na__left__container {
    display: flex;
    justify-content: flex-start;
    width: 45%;
  }

  // DIV IMAGE CONTAINER
  .pl__na__image__containers {
    width: 55rem;
    height: 50rem;
  }

  // BLUE BACKGROUND IMAGE
  .pl__na__image__bluebg {
    transform: translate(-0px, -10%);
  }

  // COMPUTER IMAGE
  .pl__na__image__yoga {
    transform: translate(144px, -150%);
    width: 38rem;
  }

  // DIV RIGHT CONTAINER
  .pl__na__right__container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10rem;
    margin-right: 4rem;
  }

  // CODERYOGA TITLE
  .pl__na__coder__yoga__title {
    font-family: @text__font-family--header;
    font-size: 4rem;
    font-weight: 500;
    color: @text__color--white;
    letter-spacing: 0.05rem;
    text-shadow: 0px 7px 29px 0px rgba(100, 100, 111, 0.2);
  }

  // INFORMATION PARAGRAPH (2 LINES) CONTAINER
  .pl__na__right__info__container {
    font-size: @text__font-size--h2;
    font-weight: 350;
    color: @text__color--white;
    line-height: @text__line-height--h3;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 3rem;
  }

  // NEW COURSE TITLE
  .pl__na__right__sub__heading {
    font-family: @text__font-family--header;
    font-size: @text__font-size--h1;
    font-weight: 400;
    letter-spacing: 0.05rem;
    color: @text__color--white;
  }

  // 2ND INFORMATION PARAGRAPH
  .pl__na__right__info {
    font-size: @text__font-size--h5;
    font-size: @text__line-height--body;
    color: @text__color--white;
    text-align: center;
  }

  // BUTTON CONTAINER
  .pl__na__button__container {
    display: flex;
    flex-direction: row;
    margin-top: 5rem;
    align-self: flex-end;

    // BUTTON CONFIGURATION
    .pl__na__button {
      font-weight: 600;
      font-size: 1rem;
      color: @text__color--white;
      background-color: @btn__bg--red;
      width: 15rem;
      height: 3.5rem;
      border: none;
      border-radius: @btn__border-radius;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      transition: 0.15s ease-in;
      cursor: pointer;
    }
  }
}
