.badge__card {
  width: 250;
  margin: 2rem;
  border-radius: 10px;
  background-color: #edeed7;

  .badge__info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .badge__card__badge {
    transform: translate(0.5rem, 50%);
    .student__card__image {
      transform: translate(0, -50%);
    }
  }
}
.badge_feedback__button {
  width: 15rem;
  height: 4rem;
  font-family: @text__font-family;
  font-weight: 700;
  font-size: 1.8em;
  background-color: @btn__bg--red;
  color: #fff;
  border-radius: 8px;
}
