/* Classroom Styles */

.classroom__title {
  margin: 1.5rem 0 0 2rem;
}

.classroom__students {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
  align-items: flex-start;
}

.feedback__badges {
  top: 200vh;
  width: 100%;
  height: stretch;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.classroom__feedback__summary {
  width: 25rem;
  margin: 0 2rem 2rem 2rem;
  border-radius: 10px;
  background-color: rgb(209, 207, 183);
  position: sticky;
  bottom: 1rem;
  align-self: flex-end;
}

h1 {
  width: 25rem;
  height: 4rem;
  font-family: @text__font-family;
  font-weight: 600;
  font-size: 1.6em;
  margin-bottom: -15px;
}

p {
  margin-left: 20px;
  font-family: @text__font-family;
  font-weight: 600;
  font-size: 1.1em;
}

.classroom_feedback__button {
  width: 15rem;
  height: 4rem;
  font-family: @text__font-family;
  font-weight: 700;
  font-size: 1.8em;
  background-color: @btn__bg--red;
  color: #fff;
  border-radius: 8px;
  margin-left: -5rem;
}
