@import './classroom.less';
@import './card.less';

.student_feedback_card {
    width: 25rem;
    margin: 0 2rem 2rem 2rem;
    border-radius: 10px;
    background-color: rgb(209, 207, 183);
    position: sticky;
    bottom: 1rem;
    align-self: flex-end;
}