/* Classroom */
.clasroom__title {
  margin: 1.5rem 0 0 2rem;
}
.classroom__students {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  gap: 1rem;
  align-items: flex-start;
}

/* Student Card */
.student__card__badge {
  transform: translate(0.5rem, 50%);
  .student__card__image {
    transform: translate(0, -50%);
  }
}
