.site-calendar-demo-card {
  width: 50%;
  border: 1px solid #f0f0f0;
  border-radius: 2px;
  margin-left: 30%;
  margin-top: 20vh;
}
.site-calendar-demo-card h1 {
  display: flex;
  justify-content: center;
  margin: 5%;
}
.sub-items {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.sub-items button {
  width: 30%;
}

.events {
  margin: 0;
  padding: 0;
  list-style: none;
}
.events .ant-badge-status {
  width: 100%;
  overflow: hidden;
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
