@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Staatliches&display=swap');

.mainNav {
  height: 12vh;
  width: 100%;
  background: #ffad00;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 0%;
  position: sticky;
  top: 0;
  z-index: 3;
}

.navLogo {
  width: 20%;
  display: flex;
  align-items: center;
}
.navTitle {
  margin: 0 0 0 0.8rem;
  font-size: 2.2rem;
  letter-spacing: 1px;
  align-items: center;
  font-weight: 500;
  color: rgb(58, 9, 42);
  font-family: 'Staatliches', 'cursive';
  overflow: hidden;
  white-space: nowrap;
}

.navOptions {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 40%;
  margin-right: 2rem;
}
.navLinks {
  color: rgb(58, 9, 42);
  font-weight: bold;
  font-size: 1.1rem;
}
.navLinks:hover {
  color: #fff;
  text-decoration: underline;
  text-decoration-thickness: 10px;
}

.navButtons {
  width: 20%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.navSocial {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 10%;
  height: auto;
  margin-right: 4rem;
}

.socialIcon {
  font-size: 2rem;
  margin: 0.7rem;
  color: rgb(58, 9, 42);
}

.socialIcon:hover {
  color: white;
}

.navContact {
  width: 70%;
  font-size: 1rem;
}

.navSignup {
  width: 55%;
  font-size: 1rem;
}

.navSignup__hide {
  display: none;
}

.navSignup button {
  background: #edeed7;
  color: #006c72;
  font-weight: bold;
  height: 5.5vh;
  border-radius: 5%;
  border: none;
  box-shadow: 0px 0px 5px gray;
  cursor: pointer;
}

.navSignup button:hover {
  color: #edeed7;
  background-color: #006c72;
  transition: 0.4s;
}

.navContact button {
  background: #edeed7;
  color: #006c72;
  font-weight: bold;
  height: 5.5vh;
  border-radius: 5%;
  border: none;
  box-shadow: 0px 0px 5px gray;
  cursor: pointer;
}

.navContact button:hover {
  color: #edeed7;
  background-color: #006c72;
  transition: 0.4s;
}
