//** Landing Page Styles - DESKTOP **//

/* First Content Section */

.cloudbg {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center;
  padding: 10% 10% 2%;
  background-image: url('../../img/cloud-bg.jpg');
}

.landing-main-title {
  font-family: 'Montserrat', cursive !important;
}

.landing-main-text {
  margin: 5% 0%;
  text-align: center;
  font-family: 'Staatliches', sans-serif;
  font-size: 1.25rem;
}

.browse-btn {
  padding: 10px 32px;
  margin: 30px;
}

.create-account-btn {
  padding: 10px 32px;
  margin: 30px;
}

.landing-button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2%;
  margin-bottom: 10%;
}

.btn {
  cursor: pointer;
  height: 3rem;
  color: white;
  background: #f26602;
  border: none;
  border-radius: 5px;
  text-align: center;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
}

.btn:hover {
  filter: brightness(95%);
  color: black;
}


/* Second Content Section */

.landing-second-container {
  background: #156a70;
  display: flex;
}

.landing-second-images {
  flex: 2;
}

.orange-cloud {
  z-index: 0;
  width: 80%;
  margin-top: -10%;
}

.classroom-photo {
  z-index: 2;
  margin-top: -65%;
  width: 62%;
  padding-left: 10%;
  padding-bottom: 2%;
}

.landing-second-container-content {
  flex: 1;
  padding-top: 10%;
  margin-right: 5%;
  text-align: center;
  // background-color: #000;
  display: flex;
  flex-direction: column;
}

.landing-second-container-text {
  color: white !important;
  text-align: center;
}

.landing-second-container-title-one {
  font-size: 23px !important;
  font-family: 'Montserrat', sans-serif;
}

.landing-second-container-title-two {
  font-family: 'Staatliches', cursive;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.landing-second-container-paragraph {
  margin-top: 1%;
  font-size: 1.1rem;
}

.primary {
  background-color: @btn__bg--yellow!important;
  border: none;
  color: black;
  padding: 1% 5%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  height: 3rem;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
}

.primary:hover {
  color: white;
}

.empty-space {
  width: 50%;
}

/* Third Content Section */

.landing-third-container {
  display: flex;
  background: #156a70;
  margin-top: -1px;
}

.landing-third-container-green {
  justify-content: flex-end;
  width: 50%;
}

/* Fourth Content Section */

.landing-fourth-container {
  display: flex;
  margin-top: -25%;
  background: #156a70;
  padding-bottom: 5%;
}
.landing-fourth-container-text {
  margin-right: 3%;
  margin-left: 1%;
  text-align: center;
  font-weight: bold; 
}

.description {
  font-family: 'Montserrat', sans-serif !important;
  margin-bottom: 2% !important;
}

.brianne {
  font-family: 'Staatliches', cursive !important;
  border-radius: 30px;
}

.landing-third-container-pic {
  width: 20%;
  height: 20%;
}

.empty-space-two {
  width: 65%;
}

//** Landing Page Styles - TABLET **//

@media only screen and (max-width: 1000px) {
  /* First Content Section */

  .landing-container {
    width: 100%;
    padding: 0;
  }

  .cloudbg {
    background-image: url('../../img/cloud-bg.jpg');
  }

  .coder-heroes {
    width: 75%;
  }

  .landing-main-text {
    margin: 5% 0%;
    text-align: center;
  }

  .landing-main-text h1 {
    margin-bottom: 5%;
    color: yellow;
  }

  .landing-main-text h3 {
    text-align: center;
    color: green;
  }

  /* Second Content Section */

  .landing-second-container {
    background: #156a70;
    align-items: center;
  }
  .landing-second-images {
    flex: 1;
  }

  .orange-cloud {
    width: 100%;
    transform: translate(10%, 25%);
  }

  .classroom-photo {
    width: 70%;
    transform: translate(30%, 15%);
  }
  
  .landing-second-container-content {
    flex: 1;
    margin: 0% 4%;
  }

  .landing-second-container-text {
    color: white;
    text-align: center;
    padding: 0 2%;
  }

  .empty-space {
    width: 50%;
  }

  .landing-second-container-btn {
    width: 8rem;
    height: 2.3rem;
    margin-left: 1rem;
    margin-right: 1rem;
    color: black;
    background: #fbc740;
    border: none;
    border-radius: 0.313rem;
    text-align: center;
    font-weight: 600;
  }

  /* Third Content Section */

  .landing-third-container {
    display: flex;
    background: #156a70;
    padding-top: 5%;
  }

  .landing-third-container-green {
    justify-content: flex-end;
    width: 50%;
  }

  /* Fourth Content Section */

  .landing-fourth-container {
    display: flex;
    margin-top: -25%;
    background: #156a70;
    padding-bottom: 5%;
  }

  .landing-fourth-container-pic {
    width: 30%;
    height: 30%;
    margin: 0% 5%;
  }

  .empty-space-two {
    display: none;
  }

  .description {
    background-color: #eeedd9;
    padding: 2%;
    border-radius: 10px;
    margin: 0% 2;
    border: 2px solid black;
  }

  .brianne {
    background-color: #eeedd9;
    padding: 2%;
    border-radius: 10px;
    margin: 2% 10%;
    border: 2px solid black;
  }
}

//** Landing page styles - Tablet fix **//

@media only screen and (max-width: 694px) {
  .landing-second-container-title-one {
    font-size: 28px !important;
  }
  .landing-second-container-title-one {
    margin-bottom: 0;
  }
  .landing-second-container-title-two {
    margin: 0;
  }
  .landing-second-container-paragraph {
    padding: 0;
  }
  .landing-second-images {
    display: none;
  }

}


//** Landing Page Styles - MOBILE **//

@media only screen and (max-width: 600px) {
  /* First Content Section */

  .landing-container {
    width: 100%;
    padding: 0;
  }

  .cloudbg {
    background-color: #eeedd9;
    background-image: none;
  }

  .coder-heroes {
    width: 80%;
  }

  .landing-main-text {
    margin: 5% 0%;
    text-align: center;
  }

  .landing-main-text h1 {
    text-align: center;
  }

  .landing-main-text h3 {
    text-align: center;
  }

  // Button Styling

  .landing-button-container {
    margin-top: 5%;
    display: flex;
    align-items: center;
  }
  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .btn:hover {
    filter: brightness(95%);
    color: white;
  }

  /* Second Content Section */

  .landing-second-container {
    background: #156a70;
    display: flex;
    margin-bottom: 15%;
  }

  .landing-second-images {
    display: none;
  }

  .landing-second-container-text {
    color: white;
    text-align: center;
  }
  .empty-space {
    width: 50%;
  }
  
  .landing-second-container-btn {
    width: 8rem;
    height: 2.3rem;
    margin-left: 1rem;
    margin-right: 1rem;
    color: black;
    background: #fbc740;
    border: none;
    border-radius: 0.313rem;
    text-align: center;
    font-weight: 600;
  }

  /* Third Content Section */

  .landing-third-container {
    display: none;
  }

  /* Fourth Content Section */

  .landing-fourth-container {
    padding-top: 30%;
    display: flex;
    background: #156a70;
    flex-direction: column;
    padding-bottom: 5%;
    justify-content: center;
    align-items: center;
  }

  .landing-fourth-container-pic {
    width: 35%;
    height: 35%;
    text-align: center;
  }

  .empty-space-two {
    width: 65%;
  }

  .description {
    background-color: #eeedd9;
    border-radius: 10px;
    margin: 2% 10%;
    border: 2px solid black;
  }

  .brianne {
    background-color: #eeedd9;
    padding: 2%;
    border-radius: 10px;
    margin: 2% 10%;
    border: 2px solid black;
  }
}
