.image {
  max-width: 100%;
}

.layout-container .title {
  color: #3a072c;
  text-align: center;
}

.form-container {
  text-align: left;

  .sub-heading-one {
    color: #3a072c;
    font-size: 21px;
    font-weight: bold;
  }

  .sub-heading-two {
    color: #3a072c;
    font-size: 21px;
    font-weight: bold;
    margin: 20px 0 15px 0;
  }

  .course-availability-container {
    display: flex;
    flex-wrap: wrap;

    .booking-calendar-container {
      padding-bottom: 30px;
      flex: 1;
    }

    .btn-drop-down-container {
      display: flex;
      min-width: 525px;
      flex-direction: column;
      flex: 1;

      .time-zone-container {
        display: flex;
        flex: 1;
        flex-direction: column;

        .time-zone-card {
          background-color: white;
          border-radius: 5px;
          margin: 6px 6px 10px 6px;
        }

        .time-zone {
          color: #6e4964;
          font-size: 16px;
          margin: 6px;
          padding: 3px 0;
          text-align: center;
        }
      }

      .booking-card-btns-container {
        display: flex;
      }

      .show-availability-btn {
        background-color: #680049;
        color: white;
        flex: 1;
        margin: 150px 6px 6px 6px;
        font-size: 16px;
        padding: 7px 0;
        text-transform: uppercase;
      }
      .booking-card-btns {
        background-color: #680049;
        color: white;
        flex: 1;
        margin: 150px 6px 6px 6px;
        font-size: 16px;
        padding: 7px 0;
        text-transform: uppercase;
      }
    }
  }
}

.booking-calendar {
  min-width: 600px;
  max-width: 800px;
}

.select-program-container {
  display: flex;

  .arrows-icon {
    color: #4a1e3c;
    font-weight: bold;
  }

  .radio-group {
    width: 60vw;
    background-color: #eeedd9;

    .select-program-cards {
      padding: 5px 0 5px 5px;
      background: #f35f24;
      align-items: center;
      min-width: 250px;
      flex: 1;
      margin: 0 10px;

      .radio-btn {
        font-size: 20px;
      }
    }
  }

  .arrow-btns {
    background: none;
  }
}

.drop-down-container {
  font-size: 20px;
  width: auto;
  padding: 10px;
  margin: 6px;
  border-radius: 15px;
  background-color: rgba(58, 201, 176, 0.8);
  color: #680049;
  text-align: center;
}
