.dashboard-container {
  background-image: url('../../img/Assets/beige-faded-clouds.png');
  background-repeat: no-repeat;
}

.dashboard-card{
  border-radius: .625em;
  width: 100%;
  margin: 5%;
}

.parent-dashboard-column {
  display: flex;
  flex-flow: column wrap;
}

.row{
   display: flex;
   justify-content: center;
   width: 100%;
}

