// Export other less files here
.today {
    background-color: red;
}
.badge{
    background-color: #ddfdff;
    color: white
}
.cell {
    background-color: #00cab7;
    height: 5rem;

    
}
.events {
    background-color: brown;

}
.notes-month {
    background-color: black ;
}