// @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

// Export other less files here

@h1: 5rem;
@h2: 3rem;
@h3: 2.5rem;
@base-url: ~'/src/img';

@text__font-family: "'Montserrat', sans-serif";

//****Banner styles (in components common folder)*****
.dashboard-banner {
  display: flex;
  background: none;
  width: 100%;
  // justify-content: center;
  padding:none;

  text-align: center;
}
.banner-content {
  width: 100%;
  font-family: @text__font-family--header;
  text-align: center;
  margin: 0 auto;
  h1 {
    font-weight: bold;
    font-size: @h2;
    color: #263e47;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    margin-top: 5%;
  }
.welcome-content{
  display: none;
  z-index: -1;
}

}

//****ParentCalendar Styles****
// tbody td {
//   border-left: 4px #006c72 solid !important;
// }

// th {
//   color: #006c72 !important;
//   font-weight: bold !important;
//   text-transform: uppercase;
//   text-align: center !important;
//   font-size: 1.2rem;
// }

// .ant-picker-cell {
//   border-right: 4px #006c72 solid !important;
// }
// .ant-picker-cell-in-view .ant-picker-calendar-date-value {
//   color: #006c72;
//   font-weight: bold;
// }
// .time {
//   font-size: 1rem;
// }
// .capital {
//   text-transform: capitalize;
// }
// .ant-picker-cell-inner {
//   border-right: 1px solid;
// }

// .badge {
//   background-color: #daf4ff;
// }
// .anticon-info-circle {
//   font-size: 1rem !important;
// }
// .badge span {
//   color: #4ccaff;
//   font-weight: bold;
//   font-size: 1rem;
// }
// .ant-btn-round.ant-btn-icon-only {
//   width: 75%;
//   background-color: #4ccaff;
//   border: none;
//   font-weight: bold;
// }
// svg {
//   font-weight: bold;
// }
// button {
//   width: 75%;
// }
// li {
//   list-style-type: none;
// }
// .cell {
//   background-color: #daf4ff;
//   height: 5rem;
//   border-radius: 25%;
//   padding: 0.7rem;
//   text-align: center;
// }
// .ulcell {
//   margin-bottom: 4px;
//   text-align: center;
//   width: 100%;
// }

// .fullButton {
//   margin-bottom: 4px;
//   width: 100%;
// }
// .events {
//   background-color: #daf4ff;
//   border-radius: 25%;
//   overflow: unset;
//   margin-bottom: 0;
// }

// .notes-month {
//   background-color: black;
// }

// .bookingBtn {
//   border: solid black 2px;
//   border-radius: 3px;
//   width: 20%;
//   text-align: center;
//   padding-top: 8px;
//   margin-top: 10px;
// }

// //****AvailableCourses styles****
// .header {
//   width: 40%;
//   padding-left: 24px;
// }
// .flex {
//   display: flex;
//   width: 90%;
//   justify-content: flex-start;
//   flex-flow: row wrap;
// }
// .flex:hover {
//   box-shadow: 0px 0px;
// }
// .flex h2 {
//   font-weight: bold;
//   color: #929292;
// }
// .flex p {
//   color: #929292;
// }
// .flex button {
//   background-color: #00cab7;
//   color: white;
//   font-weight: bold;
//   border: none;
//   border-radius: 2rem;
//   width: 35%;
//   padding: 0.4rem;
//   margin-right: 2rem;
//   box-shadow: 1px 3px 6px #7b7575;
// }
// .card {
//   margin-right: 1.5rem;
//   width: 48%;
//   margin-top: 1rem;
//   border-radius: 2rem;
// }
// .buttonWrapper {
//   display: flex;
//   flex-direction: row-reverse;
// }

// .ant-card-head-title {
//   font-weight: bold;
//   text-transform: capitalize;
// }

// .left {
//   width: 50%;
// }
// .right {
//   width: 50%;
//   text-align: center;
// }
// .card-container {
//   display: flex;
//   justify-content: flex-start;
//   flex-flow: row wrap;
//   margin-bottom: 1rem;
// }
// img {
//   width: inherit;
// }

// .ant-card-body {
//   padding: 1rem;
// }

// .ant-tabs-nav-wrap {
//   padding-left: 28px;
// }
// .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
//   color: #00cab7;
//   font-weight: bold;
//   font-size: 1rem;
// }
// .ant-tabs-tab .ant-tabs-tab-active {
//   color: #00cab7;
//   font-weight: bold;
//   font-size: 1rem;
// }
// .ant-tabs-tab:hover {
//   color: #00cab7;
// }
// .ant-tabs-tab {
//   color: #a3a9b9;
//   font-weight: bold;
// }
// .ant-tabs-tab .ant-tabs-tab-active {
//   color: #00cab7;
//   font-weight: bold;
//   font-size: 1rem;
// }
// .ant-tabs-tab:hover {
//   color: #00cab7;
// }
// .ant-tabs-tab {
//   color: #a3a9b9;
//   font-weight: bold;
// }

//****FamilyPage styles****

// * {
//   border: 1px solid grey;
// }

button {
  border: none;
  border-radius: 6px;
}

h1 {
  font-family: @text__font-family;
}

.family-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  //background: ~ "url('@{base-url}/cloud-bg.jpg')";
  background: 'url(@{base-url}/cloud-bg.jpg)';
  //background: rgba(76, 175, 80, 0.3);
  //width: 100%;
  //opacity:.5;
}

.family-cards {
  display: flex;
  max-width: 80%;
  align-items: center;
  justify-content: center;
  background-color: white;
  opacity: 1;
  margin-bottom: 10%;
  padding: 5%;
}

.parent-card {
  display: flex;
  background-color: #096a70;

  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding: 10% 5%;
  margin: 7% auto;
}

.student-card {
  display: flex;
  background-color: #ffffff;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

.add-student-button {
  background-color: #f66721;
  color: white;
  border: 1px solid #f66721;
}

.student-view-account-button {
  background-color: @body__bg--blue;
  border-radius: @btn__border-radius;
  color: white;
}

.parent-view-account-button {
  border: 1px solid #096a70;
  color: #096a70;
  background-color: #ffffff;
}

// Create New Student Modal
.create-new-student-modal {
  position: absolute;
  border: 1px solid black;
  border-radius: 10px;
  background: #ffffff;
  height: 35em;
  width: 30em;
  margin: 5em 10em 10em 10em;
  top: 5em;
  left: 40%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.create-new-student-title {
  margin: 1em;
}

.create-new-student-exit {
  display: flex;
  justify-content: flex-end;
  font-size: 20px;
  margin: -2em 0 0 18em;
  height: 2em;
  width: 2em;
  cursor: pointer;
}

.exit {
  display: flex !important;
  justify-content: flex-end !important;
  font-size: 20px !important;
  margin: -2em 0 0 18em !important;
  height: 2em !important;
  width: 2em !important;
  cursor: pointer !important;
}

.create-new-student-form {
  display: flex;
  flex-direction: column;
  margin: 1em;
}

.create-new-student-submit {
  display: flex;
  justify-content: center;
}

// Current Courses Details Modal
.current-courses-details-modal {
  position: absolute;
  z-index: 3;
  top: 15em;
  left: 20%;
}

.current-courses-details-exit {
  font-size: 20px;
  height: 2em;
  width: 2em;
  position: absolute;
  z-index: 4;
  top: 11em;
  left: 75%;
  cursor: pointer;
}
