
h4{
text-align: center;
font-family:@text__font-family;
font-size: @text__font-size--h4;
border-bottom:1px solid #F66721;
}

button{
    background-color:@btn__bg--orange;
}

.messages-container{
  background-image: url('../../img/Assets/beige-faded-clouds.png');
}

.message-list{
    margin: auto 5%;
}

.active-message{
    background-color: white;
}

.message-thread{
    padding: auto 5%;
}

.ant-list.ant-list-split{
    margin: 10%;
}

.text-box{
    margin: 0 10%;
}
